@import 'src/theme.scss';

;

#footer-container{
  border:none;
  text-align: end;
  padding:5px 20px;
  box-sizing: content-box;
}

#footer-text{
  font-family: $lexendFont;
  font-size: 13px;
  font-weight: 200;
  color:rgba(255, 255, 255, 0.548);
  z-index: 20000;
   &:hover{
    color:rgba(255, 255, 255, 0.815);
   }
}


