<div id="start-container">
  <div id="start-content">
    <div class="glitch" data-text="Full Stack Developer" id="title-container"><span style="color:rgb(241, 241, 34)">{{title}}</span> {{subtitle}}</div>

    <div id="start-text-container">
      <div class="start-text">
        <img class="text-logo" src="assets/logo.png">
        <p>Frontend con Javascript puro o Angular, estilos con sass y capacidad de consumir Api rest.</p>
      </div>
      <div class="start-text">
        <img class="text-logo" src="assets/logo.png">
        <p>Api rest con Nodejs y Spring Boot, con enfoque en la persistencia de datos con SQL.</p>
      </div>
      <div class="start-text">
        <img class="text-logo" src="assets/logo.png">
        <p>Webs dinamicas con php desde el servidor, enfocado tambien en la persistencia de datos.</p>
      </div>
    </div>

    <div id="button-container">
      <button (click)="link('/#contacto')" class="yellow-border-button">Contacto</button>
    </div>
  </div>
</div>

