<div id="contacto">
  <app-particles></app-particles>
  <div id="contact">
    <div id="contact-content">
      <div id="contact-text-container">
        <div id="contact-title" class="glitch" data-text="Co">Contacto</div>
        <div id="contact-text">
          No dudes en enviarme un mensaje por cualquier pregunta o propuesta que tengas. También puedes contactarme o seguirme a través de mis redes sociales.
        </div>
        <div id="contact-networks">
          <a href="https://www.instagram.com/agugodzic/" target="_blank"><img src="assets/icons/instagram.png"></a>
          <a href="https://www.facebook.com/agugodzic/" target="_blank"><img src="assets/icons/facebook.png"></a>
          <a href="https://www.linkedin.com/in/agustín-godzic-109b09188/" target="_blank"><img src="assets/icons/linkedin.png"></a>
          <a href="https://github.com/Agugodzic?tab=repositories" target="_blank"><img src="assets/github-white.png"></a>
        </div>
      </div>
      <div id="contact-form-container">
        <form id="contact-form" action="https://formspree.io/f/xrgvddpa" method="POST">
          <input style="display:none" name="origen" value="Portafolio">
          <p><input name="nombre" type="text" placeholder="Tu Nombre"></p>
          <p><input name="email" type="email" placeholder="Tu Email"></p>
          <p><input name="asunto" type="text" placeholder="Asunto"></p>
          <p><textarea name="message"></textarea></p>
          <button class="yellow-border-button" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
