$yellow:rgb(241, 241, 34);
$backgroundColor: rgb(17, 17, 31);
//$backgroundColor: rgb(233, 230, 56);
$lexendFont:'Lexend Deca', sans-serif;
$robotoFont:'Roboto Mono', monospace;

/* import fonts:
   Lexend Deca
        Thin 100
        ExtraLight 200
        Regular 400
        Bold 700
        Black 900
        font-family: 'Lexend Deca', sans-serif;



    Roboto Mono
        Thin 100
        Light 300
        Regular 400
        font-family: 'Roboto Mono', monospace;
*/
